$whiteColor: #FFFFFF;
$blackColor: #1A1A1A;
$darkGrayColor: #636363;
$grayColor: #9E9E9E;
$primaryColor: #2A9FD2;
$successColor: #69E782;
$warningColor: #E8900C;
$errorColor: #EC3F3F;
$ratingColor: #F67908;
$starColor: #E0DDDD;

$maxMobile: 767px;
$minTablet: 768px;
$maxTablet: 1024px;
$minDesktop: 1025px;