.l-alert {
  padding: 15px;
  border: 2px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &.success {
    border-color: $successColor;
    &:before {
      content: '';
      display: block;
      background: url('../img/success.svg') no-repeat;
      width: 30px;
      height: 30px;
      margin: 0 24px 0 4px;
      flex: 0 0 auto;
    }
  }

  &.warning {
    border-color: $warningColor;
    &:before {
      content: '';
      display: block;
      background: url('../img/info.svg') no-repeat;
      width: 30px;
      height: 30px;
      margin: 0 24px 0 4px;
      flex: 0 0 auto;
    }
  }
}