.l-complaints {
  list-style: none;
  padding: 0;
  margin: 25px 0 0;
  counter-reset: complaints;
  li {
    counter-increment: complaints;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:before {
      content: counter(complaints)'.';
      font-weight: 700;
      margin-right: 5px;
    }

    a {
      font-size: 0.86rem;
      line-height: 1.42;
      margin-left: 15px;
    }
  }
}